/*documentation - table of contents (guide pages)*/
#prettydiff #doc_contents a{text-decoration:none}
#prettydiff #doc_contents ol{padding-bottom:1em}
#prettydiff #doc_contents ol ol li{font-size:0.75em;list-style:lower-alpha;margin:0.5em 0 1em 3em}
#prettydiff #doc_contents ol ol{background-color:inherit;border-style:none;margin:0.25em 0.3em 0 0;padding-bottom:0}

/*documentation - files by date at bottom*/
#prettydiff .segment {border-collapse:collapse;border-style:solid;border-width:0.1em;margin:0 0 1em;padding:1em}
#prettydiff ol.segment{list-style-position:inside}
#prettydiff ol.segment ul{padding:0 0 0 4em}
#prettydiff ol.segment li {border-style:none none dashed;border-width:0 0 0.1em;margin:0 0 1.5em;padding:0 0 0.5em}
#prettydiff ol.segment ul li {border-style:none;list-style-type:none;margin:0 0 1em;padding:0}
#prettydiff ol.segment h4{display:inline}
#prettydiff ol.segment h5{margin:0.5em 0 0 -2em}
#prettydiff th.date,
#prettydiff td.date{width:7.5em}

/*documentation - showing content normally hidden from visual users*/
#prettydiff .content-show {height:auto;position:static;width:auto}
