body {
    font-family: Arial;
    font-size  : 10px;
    max-width  : 80em;
}
div {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding    : 0.5em;
}
#doc .beautify {
    font-family: "Courier New",Courier,"Lucida Console",monospace;
    padding    : 0;
    overflow   : scroll;
    max-width  : 100%;
}
#dcolorScheme {
    margin-top: -3em;
}
p {
    line-height: 1.25;
}
.guidebody {
    font-family: "Times New Roman";
}
li {
    display: list-item;
}
li strong {
    display: block;
}
ul ol li,
ol li {
    list-style: decimal;
}
ul li {
    list-style: disc;
}
p em {
    font-weight: bold;
}
p strong {
    color: #933;
}
.white p em {
    color: #003;
}
.shadow p em {
    color: #696;
}
p a {
    color      : #339;
    font-weight: bold;
}
#doc code {
    font-size    : 1.2em;
    margin-bottom: 1em;
    white-space  : pre;
}
code span {
    color: #ccc;
}
.red {
    color: #c00;
}
.blue {
    color: #00c;
}
code.commandLine {
    background   : #000;
    border-radius: 0.5em;
    color        : #fff;
    font-family  : monospace;
    padding      : 0.2em;
    white-space  : pre-wrap;
    border       : 0.1em solid #999;
}
code.commandLine .delete {
    color: #b00;
}
code.commandLine .insert {
    color: #090;
}
code.commandLine .meta {
    color: #adf;
}
code.commandLine .delete strong {
    color: #f00;
}
code.commandLine .insert strong {
    color: #0f0;
}
blockquote {
    font-style: italic;
}
blockquote span {
    display   : block;
    font-style: normal;
    text-align: right;
}
h1 span {
    display   : block;
    font-size : 0.5em;
    margin-top: 1em;
}
#doc h2 {
    clear       : both;
    display     : block;
    float       : none;
    border-style: none;
    margin      : 0 0 2em;
}
#doc h4 {
    margin-top: 0;
}
#doc .beautify h4 {
    position: absolute;
    left    : -200em;
}
h1 svg {
    border       : 0.025em solid #000;
    width        : 1.475em;
    height       : 1.475em;
    margin-bottom: -0.1em;
}